<div class="min-h-screen bg-gray-100 p-10">
	<div class="relative overflow-x-auto shadow-md sm:rounded-lg bg-white shadow-md px-4 sm:pr-6 lg:px-10 pb-6 pt-4 rounded-3xl w-50">
	    <div class="pb-4 bg-white dark:bg-gray-900 flex justify-end">
			<%= form_with(url: users_path, method: "GET", data: { controller: "form-submission", turbo_frame: "users", turbo_action: "advance" }) do |form| %>
				<%= form.label :query, 'Search', class: 'sr-only', for: 'table-search' %>
		        <div class="relative mt-1">
		            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
		                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
		            </div>
    				<%= form.text_field :query, data: { action: "input->form-submission#search" }, class: 'block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder: t('common.search'), id: 'table-search' %>
		        </div>
			<% end %>
	    </div>
	    <hr class="mb-4">
        
        <%= render "users", users: @users %>

        <% if ( @pagy.prev != nil ) %>
			<nav class="text-right mt-4" aria-label="Page navigation example">
				<% if @pagy.prev %>
			        <%= link_to t('common.prev'), users_path(page: @pagy.prev), class: 'inline-flex items-center px-4 py-2 text-sm font-medium text-gray-600 bg-white border border-gray-400 rounded-lg hover:bg-gray-200 hover:text-gray-700' %>
				<% else %>
			      	<%= button_tag t('common.prev'), class: 'inline-flex items-center px-4 py-2 text-sm font-medium text-gray-300 bg-white border border-gray-300 rounded-lg  :text-white', disabled: true %>
				<% end %>

				<% if @pagy.next %>
			        <%= link_to t('common.next'), users_path(page: @pagy.next), class: 'inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-600 bg-white border border-gray-400 rounded-lg hover:bg-gray-200 hover:text-gray-700' %>
				<% else %>
			  		<%= button_tag t('common.next'), class: 'inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-300 bg-white border border-gray-300 rounded-lg  :text-white', disabled: true %>
				<% end %>
			</nav>
		<% end %>
	</div>
</div>

